# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]
.pytest_cache/
*.sqlite3
env/
*.env

# Django
db.sqlite3
*.log
media/
staticfiles/

# Node / React
node_modules/
build/
dist/
.cache/
npm-debug.log*

# VSCode / IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db


Lib/
Scripts/
share/
pyvenv.cfg
.venv/
venv/