.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4000;
}

.modal {
  background: white;
  padding: 24px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.title {
  font-family: var(--font-main);
  font-size: 26px;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-weight: 400;
}

.message {
  font-family: var(--font-main);
  margin-bottom: 25px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.confirmBtn {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 8px 14px;
  font-family: var(--font-title);
  cursor: pointer;
  text-transform: uppercase;
}
.confirmBtn:hover {
  background-color: var(--primary-color);
}

.cancelBtn {
  background-color: #e5e5e5;
  border: none;
  padding: 8px 14px;
  font-family: var(--font-title);
  text-transform: uppercase;
  cursor: pointer;
}
.cancelBtn:hover {
  background-color: #c0c0c0;
}
